{% extends "users/base.html" %}

{% block title %}Login{% endblock title %}

{% block body %}
<main class="form-signin w-100 m-auto">
    <form method = "POST" action = "{% url "register" %}">
        {% csrf_token %}
      <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Sign Up Today</h1>
      <div class="form-floating">
        {{ form.as_p }}
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
      <small class="mt-5 mb-3 text-body-secondary">Already Have an account <a href = "{% url "login" %}">Sign in </a> </small>
    </form>
  </main>
{% endblock body %}